[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tqdm = "*"
tomli = "*"
torch = "*"
torcheval = "*"

[dev-packages]
black = "*"
debugpy = "*"
flake8 = "*"
ipython = "*"
isort = "*"
mypy = "*"
pynvim = "*"
pysen = "*"
torchinfo = "*"

[requires]
python_version = "3.10"
